<h2>御朱印を頂いた場所の検索</h2>

<input id="address" type="textbox" placeholder="住所や名前を入力">


<input type="button" value="検索" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{height: 700px;}
</style>

<script>

let map
let geocoder

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 20
  });
}

function codeAddress(){

  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);

      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

<a class= btn__home href="/"><p>ホーム</p></a>